<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block metatitle %}Welcome!{% endblock %}</title>
    <meta name="description" content="{% block metadescription %}Gary Straughan - PHP / Symfony2 Developer{% endblock %}">
    <meta name="author" content="Gary Straughan">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->


    {% stylesheets
        'css/normalize.css'
        'css/skeleton.css'
        'css/custom.css'
        filter='cssrewrite' output='css/compiled/all.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


</head>
<body class="{% block body_class %}home{% endblock %}">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-180453-23', 'auto');
        ga('send', 'pageview');

    </script>
    <section class="header">
        <div class="container">
            {% block title %}<h1 class="title">Title</h1>{% endblock %}
        </div>
    </section>


    {% block navigation %}
    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <ul class="navbar-list">
                    <li class="navbar-item"><a class="navbar-link" href="{{ path('homepage') }}">Home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="{{ path('projects', {'slug': null}) }}" data-popover="#codeNavPopover">Projects</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="{{ path('page', {'slug': 'approach'}) }}" data-popover="#codeNavPopover">How I (like to) Work</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="{{ path('contact') }}">Get in touch</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}



    {% block body %}
    <div class="row">
        <div class="one-half column" style="margin-top: 25%">
            <h4>Basic Page</h4>
            <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
        </div>
    </div>
    {% endblock %}

</div>


<div class="section footer">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <p>Copyright © 1998-{{"now"|date('Y')}} Gary Straughan. All rights reserved.
            </div>
        </div>
    </div>
</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% block javascripts %}{% endblock %}
</body>
</html>
