{% extends 'base_skeleton.html.twig' %}

{% block metatitle %}Gary Straughan - Senior PHP / Symfony2 Developer - London{% endblock %}
{% block metadescription %}Recent projects: The Economist, IntuDigital, Sportlobster, BBC Worldwide, British Gas, Google.{% endblock %}


{% block title %}
    <h1 class="title">PHP + Symfony2 + Contract + Agile + London = Gary&nbsp;Straughan</h1>
    <a class="button button-primary" href="{{ path('contact') }}">Get in touch</a>
    <p><span>Available May 2015</span></p>
{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}

    <div class="section projects">
        <div class="container">
            <h2>Recent Projects</h2>


            <div class="row">
                {% for project in projects %}
                    <div class="four columns center">
                        <img src="/images/logos/{{ project.slug }}_centered.png" alt="{{ project.company }}"  />
                        <p><strong>{{ project.company }}</strong> - {{ project.summary }} {% if project.content %}<a href="{{ path('projects', {'slug': project.slug}) }}">More...</a>{% endif %}</p>
                    </div>
                {%  endfor %}
            </div>
            <div class="row center">
                <a class="button button-primary" href="{{ path('projects', {'slug': null}) }}">View all projects</a>
            </div>
        </div>
    </div>

    <div class="section skills">
        <div class="container">

            <h2>Skills</h2>

            <div class="row">
                {% for skill in skills %}
                    <div class="three columns">
                        <h3>{{ skill.title }}</h3>
                        <p>{{ skill.content }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="row center">
                <a class="button button-primary" href="{{ path('page', {'slug': 'approach'}) }}">How I (like to) work</a>
            </div>
        </div>
    </div>
{% endblock %}
