{% extends 'base_skeleton.html.twig' %}

{% block metatitle %}{{ project.company }}{% endblock %}
{% block metadescription %}{{ project.summary }}{% endblock %}
{% block body_class %}project{% endblock %}
{% block title %}<h1 class="title">{{ project.company }}</h1>{% endblock %}


{% block body %}
    <div class="section project">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                    {{ project.content|default('Details to follow.')|md2html }}
            </div>
            <div class="one-half column datasheet">
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Company</td>
                        <td>{{ project.company }}</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>{{ project.role }}</td>
                    </tr>
                    <tr>
                        <td>Start</td>
                        <td>{{ project.startDate|date("M Y") }}</td>
                    </tr>
                    <tr>
                        <td>End</td>
                        {% if project.endDate %}
                            <td>{{ project.endDate|date("M Y") }}</td>
                        {% else %}
                            <td>to date</td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}
